<div id="<%= dom_id friend %>">

<div class="jumbotron">
  <h1 class="display-4"><%= friend.first_name %> <%= friend.last_name %></h1>
  <p class="lead">
  <%= friend.email %> |
  <%= friend.phone %> | 
  <%= friend.twitter %>
  </p>
  <br>
  <div>
  <%= link_to "Edit", edit_friend_path(@friend), class:'btn btn-secondary' %><br/>
  <%= button_to "Delete", { action: "destroy", id: @friend.id }, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %><br>
  <%= link_to "Back", friends_path, class:'btn btn-dark' %>
</div>

</div>

</div>
