<% if user_signed_in? %>

<h1>Friend List</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Twitter</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %> 
    <% if friend.user == current_user %>
    <tr>
      <td>
      <%= link_to friend.first_name + ' ' + friend.last_name, friend_path(friend) %>
      </td>
      <td><%= friend.email %></td>
      <td><%= friend.twitter %></td>
      <td><%= friend.phone %></td>
      <td>
      <%= button_to "Delete", { action: "destroy", id: friend.id },
      method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
      </td>
      </tr>
      <% end %>
      <% end %>     
  </tbody>
</table>

<%= link_to "Add friend", new_friend_path, class:'btn btn-secondary' %>
<% else %>
<h1>Hello World</h1>
<% end %>